<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.overwash.mapper.CrewMapper">
	
	
	<insert id="insertCrew" parameterType="CrewDTO">

		<selectKey resultType="long" order="BEFORE" keyProperty="crewId">
			select crew_seq.nextval from dual
		</selectKey>
		insert into crew
		values
		(#{crewId}, #{user.userId}, #{crewContact}, #{crewName}, #{crewBirth}, #{carType}, #{carNumber})

	</insert>
	
	<resultMap type="UserDTO" id="user">
		<result column="user_id"		property="userId"/>
		<result column="email"			property="email"/>
		<result column="password"		property="password"/>
	</resultMap>
	
	<resultMap type="CrewDTO" id="crewInfo">
		<result column="crew_id" 		property="crewId"/>
		<result column="crew_contact"	property="crewContact"/>
		<result column="crew_name"		property="crewName"/>
		<result column="crew_birth"		property="crewBirth"/>
		<result column="car_type"		property="carType"/>
		<result column="car_number"		property="carNumber"/>
		<association property="user" resultMap="user" />
	</resultMap>
	
	<select id="getCrew" parameterType="Long" resultMap="crewInfo">
		select
			u.user_id	   as user_id,
			u.email 	   as email,
			u.password     as password,
			c.crew_id	   as crew_id,
			c.crew_contact as crew_contact,
			c.crew_name	   as crew_name,
			c.crew_birth   as crew_birth,
			c.car_type 	   as car_type,
			c.car_number   as car_number
		from crew c
			 join users u
			   on c.user_id = u.user_id
		where
			c.crew_id = #{crewId}
	</select>
	
 	<update id="deleteCrew" parameterType="Long">
		update users
		set
			enabled = 0
		where
			user_id = (
						select user_id
						from crew
						where crew_id = #{crewId}
			)
	</update>
	
	<update id="updateCrew" parameterType="CrewDTO">
		update crew
		set
			crew_contact = #{crewContact},
			car_type = #{carType},
			car_number = #{carNumber}
		where
			crew_id = #{crewId}
	</update>
	
	<select id="getCrewList" parameterType="String" resultMap="crewInfo">
		select
			u.email 	   as email,
			u.password     as password,
			c.crew_id	   as crew_id,
			c.crew_contact as crew_contact,
			c.crew_name	   as crew_name,
			c.crew_birth   as crew_birth,
			c.car_type 	   as car_type,
			c.car_number   as car_number
		from crew c
			 join users u
			   on c.user_id = u.user_id
		where
			u.role = #{role}
	</select>
	
	<select id="getCrewContact" resultType="String">
		select 
			crew_contact 
		from 
			crew 
		where 
			crew_contact = #{crewContact}
	</select>

</mapper>
