<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.overwash.mapper.CrewMapper">
	
	<resultMap type="WashingCompleteDTO" id="washingCompleteMap">
		<id     property="wcId"   column="wc_id"/>
		<result property="wcDate" column="wc_date"/>
		<association property="confirm" resultMap="reservationConfirmedMap"/>
	</resultMap>
	
	<resultMap type="ReservationConfirmedDTO" id="reservationConfirmedMap">
      <id     property="confirmId" 	 column="confirm_id"/>
      <result property="confirmDate" column="confirm_date"/>
      <association property="factory"     resultMap="LaundryFactoryMap"/>
      <association property="crew"     	  resultMap="crewMap"/>
      <association property="reservation" resultMap="reservationMap"/>
	</resultMap>
	
	<resultMap type="LaundryFactoryDTO" id="LaundryFactoryMap">
		<id     property="factoryId"      column="factory_id"/>
		<result property="factoryContact" column="factory_contact"/>
		<result property="factoryAddress" column="factory_address"/>
	</resultMap>

	<resultMap type="ReservationDTO" id="reservationMap">
		<id property="reservationId"         column="reservation_id"/>
		<result property="collectDate" 	 	 column="collect_date"/>
		<result property="reservationDate"   column="reservation_date"/>
		<result property="request"           column="request"/>
		<result property="reservationStatus" column="reservation_status"/>
		<association property="member" resultMap="memberMap"/>
	</resultMap>
	
	<resultMap type="MemberDTO" id="memberMap">
		<id property="memberId"          column="member_id"/>
		<result property="memberAddress" column="member_address"/>
		<result property="memberContact" column="member_contact"/>
		<result property="nickname"      column="nickname"/>
		<association property="user" resultMap="userMap" />
	</resultMap>
	
	<resultMap type="UserDTO" id="userMap">
		<id column="user_id"		    property="userId"/>
		<result column="email"			property="email"/>
		<result column="password"		property="password"/>
	</resultMap>
	
	<resultMap type="CrewDTO" id="crewMap">
		<id     column="crew_id" 		property="crewId"/>
		<result column="crew_contact"	property="crewContact"/>
		<result column="crew_name"		property="crewName"/>
		<result column="crew_birth"		property="crewBirth"/>
		<result column="car_type"		property="carType"/>
		<result column="car_number"		property="carNumber"/>
		<association property="user" resultMap="userMap" />
	</resultMap>
	
	<resultMap type="DeliveryDTO" id="deliveryMap">
		<id     column="delivery_id"    property="deliveryId"/>
		<result column="delivery_date"	property="deliveryDate"/>
		<result column="status" 		property="status"/>
		<association property="crew" resultMap="crewMap"/>
		<association property="wc"   resultMap="washingCompleteMap"/>
	</resultMap>
	
	<insert id="insertCrew" parameterType="CrewDTO">

		<selectKey resultType="long" order="BEFORE" keyProperty="crewId">
			select crew_seq.nextval from dual
		</selectKey>
		insert into crew
		values
		(#{crewId}, #{user.userId}, #{crewContact}, #{crewName}, #{crewBirth}, #{carType}, #{carNumber})

	</insert>
	
	<select id="getCrew" parameterType="Long" resultMap="crewMap">
		select
			u.user_id	   as user_id,
			u.email 	   as email,
			u.password     as password,
			c.crew_id	   as crew_id,
			c.crew_contact as crew_contact,
			c.crew_name	   as crew_name,
			c.crew_birth   as crew_birth,
			c.car_type 	   as car_type,
			c.car_number   as car_number
		from crew c
			 join users u
			   on c.user_id = u.user_id
		where
			c.user_id = #{userId}
	</select>
	
 	<update id="deleteCrew" parameterType="Long">
		update users
		set
			enabled = 0
		where
			user_id = (
						select user_id
						from crew
						where crew_id = #{crewId}
			)
	</update>
	
	<update id="updateCrew" parameterType="CrewDTO">
		update crew
		set
			crew_contact = #{crewContact},
			car_type = #{carType},
			car_number = #{carNumber}
		where
			crew_id = #{crewId}
	</update>
	
	<select id="getCrewList" parameterType="String" resultMap="crewMap">
		select
			u.email 	   as email,
			u.password     as password,
			c.crew_id	   as crew_id,
			c.crew_contact as crew_contact,
			c.crew_name	   as crew_name,
			c.crew_birth   as crew_birth,
			c.car_type 	   as car_type,
			c.car_number   as car_number
		from crew c
			 join users u
			   on c.user_id = u.user_id
		where
			u.role = #{role}
	</select>
	
	<select id="getCrewContact" resultType="String">
		select 
			crew_contact 
		from 
			crew 
		where 
			crew_contact = #{crewContact}
	</select>
	
	<select id="selectToBeCollectList" resultMap="reservationMap">
		select
			r.reservation_id  	 as reservation_id,
			r.collect_date       as collect_date,
			r.reservation_date   as reservation_date,
			r.request 		     as request,
			r.reservation_status as reservation_status,
			m.member_id			 as member_id,
			m.member_address     as member_address,
			m.member_contact     as member_contact,
			m.nickname			 as nickname
		from
			reservation r
						join member m
						  on r.member_id = m.member_id
		where
			reservation_status = '주문접수'
	</select>

	<select id="selectWcList"  resultMap="washingCompleteMap">
		select
			wc.wc_id          	 as wc_id,
			wc.wc_date       	 as wc_date,
			rc.confirm_id     	 as confirm_id,
			rc.confirm_date   	 as confirm_date,
			f.factory_id     	 as factory_id,
			f.factory_contact    as factory_contact,
			f.factory_address    as factory_address,
			c.crew_id		  	 as crew_id,
			c.crew_contact		 as crew_contact,
			c.crew_name			 as crew_name,
			c.car_type			 as car_type,
			c.car_number		 as car_number,
			r.reservation_id  	 as reservation_id,
			r.collect_date       as collect_date,
			r.reservation_date   as reservation_date,
			r.request 		     as request,
			r.reservation_status as reservation_status,
			m.member_id			 as member_id,
			m.member_address     as member_address,
			m.member_contact     as member_contact,
			m.nickname			 as nickname
		from
			washing_complete wc
						     join reservation_confirmed rc       
						       on wc.confirm_id = rc.confirm_id
						     join reservation r
						       on rc.reservation_id = r.reservation_id
						     join laundry_factory f
						       on rc.factory_id = f.factory_id
						     join crew c
						       on rc.crew_id = c.crew_id
						     join member m
						       on r.member_id = m.member_id
		where
			r.reservation_status = '세탁완료'
	</select>
	
	<update id="updateDelivering" parameterType="Long">
		update
			reservation
		set
			reservation_status = '배달중'
		where
			reservation_id = #{reservationId}
	</update>
	
	<update id="updateResStatusDeliverDone" parameterType="Long">
		update
			reservation
		set
			reservation_status = '배달완료'
		where
			reservation_id = #{reservationId}
	</update>
	
	<insert id="insertDelivery" parameterType="DeliveryDTO">
		<selectKey resultType="long" order="BEFORE" keyProperty="deliveryId">
			select delivery_seq.nextval from dual
		</selectKey>
	
		insert into delivery(delivery_id, crew_id, wc_id, status)
		values(#{deliveryId}, #{crew.crewId}, #{wc.wcId}, '배달중')
	</insert>
	
	<select id="selectDeliveryList" parameterType="hashmap" resultMap="deliveryMap">
		select
			d.delivery_id    as delivery_id,
			d.delivery_date  as delivery_date,
			d.status 		 as status,
			c.crew_id 		 as crew_id,
			wc.wc_id 	 	 as wc_id,
			wc.wc_date 		 as wc_date,
			m.member_address as member_address,
			m.member_contact as member_contact,
			m.nickname 	     as nickname,
			r.reservation_id as reservation_id
		from
			delivery d
					 join crew c
					   on d.crew_id = c.crew_id
					 join washing_complete wc
					   on d.wc_id = wc.wc_id
					 join reservation_confirmed rc
					   on rc.confirm_id = wc.confirm_id
					 join reservation r
					   on rc.reservation_id = r.reservation_id
					 join member m
					   on r.member_id = m.member_id
		where
			d.crew_id = #{crewId}
		and d.status  = #{status}
	</select>
	
	<update id="updateDoneDelivery" parameterType="Long">
		update
			delivery
		set
			status = '배달완료',
			delivery_date = SYSDATE
		where
			delivery_id = #{deliveryId}
	</update>

</mapper>
