<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.overwash.mapper.MemberMapper">

	<select id="getMember"
		resultType="com.meta.overwash.domain.Member">
		SELECT
		member_id as memberId,
		member_address as
		memberAddress,
		member_contact as memberContact,
		advance_payment as
		advancePayment,
		membership,
		member_point as point,
		sign_date as signDate,
		nickname nickname
		FROM
		member
	</select>

	<select id="getMemberNum" resultType="int">
		select member_id from member
		where member_id = 3
	</select>
</mapper>
