<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.overwash.mapper.MemberMapper">


	<select id="getList" resultType="MemberDTO">
	  <![CDATA[
	  	select
	  		member_id, email, member_address, member_contact, sign_date, nickname
	  	from
	  		member
	  	where
	  		member_id > 0
	  ]]>
	</select>

	<insert id="insertMember">
		insert into member(member_id, email, password,
			member_address, member_contact, sign_date, nickname)
		values(member_seq.nextval,
		#{email}, #{password},
		#{memberAddress},
		#{memberContact}, sysdate,
		#{memberContact})
	</insert>

	<insert id="insertSelectKeyMember">
		<selectKey keyProperty="memberId" order="BEFORE"
			resultType="long">
			select member_seq.nextval from dual
		</selectKey>
		insert into member(member_id, email, password,
			member_address, member_contact, sign_date, nickname)
		values(#{memberId},
		#{email}, #{password},
		#{memberAddress}, #{memberContact}, sysdate,
		#{memberContact})
	</insert>

	<select id="getMember" resultType="MemberDTO">
		select
			member_id, email, member_address, member_contact, sign_date, nickname
	  	from
	  		member
	  	where
	  		member_id=#{memberId}
	</select>

	<update id="updateMember">
		update member set 
		<!-- password=#{password},
		member_address=#{memberAddress},  -->
		nickname=#{nickname}
		where
		member_id=#{memberId}
	</update>

	<delete id="deleteMember">
		delete from member where member_id=#{memberId}
	</delete>

</mapper>
