<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meta.overwash.mapper.UserMapper">
	
	
	<insert id="insertUser" parameterType="UserDTO">

		<selectKey resultType="Long" order="BEFORE" keyProperty="userId">
			select users_seq.nextval from dual
		</selectKey>
		insert into users
		values
		(#{userId}, #{email}, #{password}, #{role}, sysdate, 1)

	</insert>
	
	
	
	

</mapper>
